---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Contributions from "../components/Contributions.astro";
import { linkedin, x, github } from "../data/info";
import { getAllPosts } from "../data/posts";

const posts = await getAllPosts();
posts.sort((a, b) => new Date(b.published) - new Date(a.published));
---

<Layout>
    <!-- Background Contributions -->
    <div
        class="fixed inset-0 opacity-10 pointer-events-none z-0 flex items-center justify-center"
        style="transform: scale(3) translateY(-2.5%);"
    >
        <Contributions showLegend={false} />
    </div>

    <section class="flex flex-row justify-center relative z-10">
        <div
            class="flex flex-col lg:flex-row gap-4 lg:gap-8 w-full lg:w-2/3 px-4 lg:px-0"
        >
            <div class="w-full h-full py-12 lg:py-44">
                <div class="flex flex-col items-center justify-center">
                    <h1 class="text-green-600 font-bold text-4xl lg:text-7xl">
                        Hello!
                    </h1>
                    <h2 class="text-2xl lg:text-4xl text-center">
                        Welcome to my website.
                    </h2>

                    <!-- Social Links Row -->
                    <div class="flex items-center gap-1 mt-8">
                        <a
                            href={x}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="text-2xl hover:text-green-600 p-4 transition-colors"
                            aria-label="𝕏"
                        >
                            𝕏
                        </a>
                        <a
                            href={linkedin}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="text-2xl hover:text-green-600 p-4 transition-colors"
                            aria-label="LinkedIn"
                        >
                            <Icon name="mdi:linkedin" size="24" />
                        </a>
                        <a
                            href={github}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="text-2xl hover:text-green-600 p-4 transition-colors"
                            aria-label="GitHub"
                        >
                            <Icon name="mdi:github" size="24" />
                        </a>
                        <a
                            href="mailto:david@codebycruz.com"
                            class="text-2xl hover:text-green-600 p-4 transition-colors"
                            aria-label="Email"
                        >
                            <Icon name="mdi:email" size="24" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="w-full px-4 py-4 lg:py-12">
                <div
                    class="border-y border-y-white/50 h-full flex flex-col gap-4 pt-4 pb-4"
                >
                    {
                        posts.slice(0, 3).map((entry, index) => (
                            <a
                                href={entry.link}
                                class="p-2 border border-white/50 rounded-lg post-item"
                                style={`animation-delay: ${index * 0.2}s;`}
                            >
                                <div class="flex flex-col md:flex-row md:justify-between mb-1">
                                    <h2 class="font-semibold">{entry.title}</h2>
                                    <span class="text-gray-400 text-sm">
                                        {new Date(
                                            entry.published,
                                        ).toLocaleDateString("en-US", {
                                            year: "numeric",
                                            month: "short",
                                            day: "numeric",
                                        })}
                                    </span>
                                </div>
                                {entry.desc}
                            </a>
                        ))
                    }
                </div>
            </div>
        </div>
    </section>

    <div
        class="border-t border-t-white/50 px-4 lg:px-30 py-8 w-full flex flex-col lg:flex-row gap-8 lg:gap-40"
    >
        <div class="flex flex-col w-full gap-2">
            <h2 class="text-green-600 font-bold text-2xl lg:text-3xl">
                Who am I?
            </h2>

            <p class="text-lg">
                My name is David - I'm a Computer Engineering student at <a
                    class="underline"
                    href="https://www.calpoly.edu/">Cal Poly, SLO</a
                >. I've been pursuing Software Development for the better part
                of 6 years as part of my passion.
            </p>

            <p class="text-lg">I'm bilingual, English and Spanish.</p>

            <p class="text-lg">
                You'll often find me creating and managing open source projects
                on <a href="https://github.com/" class="underline text-nowrap">
                    <Icon name="mdi:github" size="24" class="inline" /> Github
                </a>.
            </p>

            <p class="text-lg">
                You can contact me at <a
                    href="mailto:david@codebycruz.com"
                    class="underline"
                >
                    david@codebycruz.com
                </a>. Note this is simply a forwarding address and I may reply
                from another email.
            </p>
        </div>

        <section class="flex flex-col w-full gap-2">
            <h2 class="text-green-600 font-bold text-2xl lg:text-3xl">
                What do I do?
            </h2>

            <p class="text-lg">
                I build projects like full-stack, deployable applications with
                the best tools for the job.
            </p>

            <p class="text-lg">
                My preferred tools are <a
                    href="https://www.typescriptlang.org/"
                    class="underline"
                >
                    <Icon
                        name="mdi:language-typescript"
                        size="24"
                        class="inline"
                    /> TypeScript
                </a> for web development, <a
                    href="https://www.docker.com/"
                    class="underline"
                >
                    <Icon name="mdi:docker" size="24" class="inline" /> Docker
                </a>, using <a
                    href="https://docs.docker.com/compose/"
                    class="underline"
                >
                    Compose
                </a> and <a
                    href="https://docs.docker.com/engine/swarm/"
                    class="underline"
                >
                    Swarm
                </a> for containerization, <a
                    href="https://www.rust-lang.org/"
                    class="underline"
                >
                    <Icon name="mdi:language-rust" size="24" class="inline" /> Rust
                </a>, for native applications, and occasionally <a
                    href="https://en.wikipedia.org/wiki/C_(programming_language)"
                    class="underline"
                >
                    C
                </a> for simple programs.
            </p>

            <p class="text-lg">
                I've been contracted for a few projects, please do reach out if
                you are interested in that. Otherwise, I'm open to providing any
                guidance or pointers.
            </p>
        </section>
    </div>
</Layout>

<style>
    @keyframes dropDown {
        from {
            opacity: 0;
            transform: translateY(-30px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .post-item {
        animation: dropDown 0.6s ease-out both;
    }
</style>
